* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

main {
    background-color: #fafafa;
    color: black;
}

.display-flex {
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-wrap: wrap;
}

.nav-bar {
    justify-content: space-between;
    background-color: rgba(240, 165, 26, 0.888);
    align-items: center;
}

.menu {
    justify-content: space-around;
}

.ham-icon {
    display: none;
}

.logo {
    border-right: white solid 3px;
}

span {
    font-size: 1.5rem;
    padding: 0 4px 0 4px;
    border-bottom: white solid 3px;
}

.heading-RPG {
    text-align: center;
    color: orange;

}

.menu-link {
    padding: 4px;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-right: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
}

.company {
    font-size: 1.5rem;
    padding-left: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

img {
    border-radius: 6px;

}

.Whatsapp {
    width: 2rem;
    text-decoration: none;
    list-style: none;
}

#contato,
#servicos {
    color: orange;
}

.contato {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

p,
li {
    font-size: 1.2rem;
}

.mapa {
    align-items: center;
    text-align: center;
    color: orange;
    padding: 12px;
}

iframe {
    width: 95%;
    height: 300px;
}

footer {
    bottom: 0px;
    background-color: rgba(240, 165, 26, 0.888);
    align-items: center;
    text-align: center;
    height: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: auto;

}

.close {
    display: none;
}

a {
    text-decoration: underline 0.15em rgba(207, 25, 25, 0) !important;
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration: underline !important;
}

.wpp-fixed {
    display: none;
}

@media only screen and (max-width:600px) {
    .ham-icon {
        display: inline;
        margin-right: 10px;
    }

    .menu {
        margin-top: -200px;
        justify-content: space-around;
        transition: all 0.9s ease-in-out;
    }    

    footer {
        height: auto;
        padding: 4px;
    }

    .close {
        display: none;
    }

    .wpp-fixed {
        background: #FAFAFA;
        bottom: 0px;
        display: flex;
        font-size: 1rem;
        position: fixed;
        width: 100%;
        z-index: 100;
        justify-content: center;
    }

    .wp-ico {
        display: flex;
        margin: 4px;
        padding: 4px;
        justify-content: space-around;
        font-style: none;
        text-decoration: none !important;
        color: black;
    }

    .wp-ico>p {
        padding: 4px;
    }
}